USE [master]
GO
/****** Object:  Database [Magazzino3]    Script Date: 25-Aug-21 10:45:44 AM ******/
CREATE DATABASE [Magazzino3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino3', FILENAME = N'C:\Users\julia.furnari\Magazzino3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino3_log', FILENAME = N'C:\Users\julia.furnari\Magazzino3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino3]
GO
USE [Magazzino3]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 25-Aug-21 10:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[ProductionYear] [int] NULL,
	[Supply] [int] NULL,
	[DoorsNumber] [int] NULL,
	[SeatsNumber] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discriminator] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
